<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniGym | {% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div>
        <h1>UniGym</h1>
        <nav>
            <a href="{% url 'home_page' %}">Home</a>
            <a href="{% url 'about_page' %}">About Us</a>
            <a href="{% url 'services_page' %}">Services</a>
            <a href="{% url 'contact_page' %}">Contact Us</a>
            <a href="{% url 'login_page' %}">User Login</a>
        </nav>
    </div>
</header>

<main>
<hr>
    {% block content %}
    {% endblock %}
</main>

<hr>
<footer>
    <p>&copy; 2025 UniGym. All Rights Reserved.</p>
    <div>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">X</a>
    </div>
</footer>
</body>
</html>