{% extends "UniGym/base_pattern.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <section>
        <div>
            <h2>Welcome to UniGym</h2>
            <p>Your journey to fitness starts here.</p>
            <a href="{% url 'login' %}">Login Now</a>
        </div>
    </section>

    <section>
    <hr>
        <h3>Our Popular Group Fitness Classes</h3>
        <div>
            <div>
                <h4>Body Pump</h4>
                <p>Build muscle and boost endurance with our advanced equipment.</p>
            </div>
            <div>
                <h4>Warm Yoga</h4>
                <p>Relax your mind and body through professional yoga sessions.</p>
            </div>
            <div>
                <h4>Bike heap</h4>
                <p>Improve heart health with our high-energy bike classes.</p>
            </div>
        </div>
    </section>

    <section>
    <hr>
    <div>
        <h3>Meet Our Trainers</h3>
        <div>
            <div>
                <img src="/media/trainer_photos/Emmalu.png" alt="EmmaLu">
                <h4>Emma Lu</h4>
                <p>Certified Strength Coach</p>
            </div>
            <div>
                <img src="/media/trainer_photos/Xuanzhang.png" alt="XuanZhang">
                <h4>Xuan Zhang</h4>
                <p>Yoga & Wellness Expert</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
