{% extends 'users/Member/member_dashboard.html' %}
{% block content %}
    <h2>{{ trainer_profile.user.username }}</h2>
    {% if trainer_profile.photo %}
        <img src="{{ trainer_profile.photo.url }}" width="200">
    {% endif %}

    <p><strong>Specialization: </strong>{{ trainer_profile.specialization }}</p>
    <p><strong>About me: </strong>{{ trainer_profile.bio }}</p>
    <p><strong>Price per Hour: </strong>${{ trainer_profile.price_per_hour }}/Hour</p>
    <p><strong>Contact: </strong>{{ trainer_profile.email }}</p>

    <h2>Availability</h2>
    {% if availabilities %}
        <ul>
        {% for availability in availabilities %}
            <li>{{ availability.date|date:"Y-m-d" }} {{ availability.start_time }} - {{ availability.end_time }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No availability provided</p>
    {% endif %}

    <a href="{% url 'member_trainer_list' %}">Back to Personal Trainers</a>
{#    {% if user.is_authenticated and user.role == "member" %}#}
{#        <a href="#">Book a session (under developing)</a>#}
{#    {% endif %}#}
{% endblock %}