{% extends 'users/Member/member_dashboard.html' %}
{% block dashboard_content %}
    <h2>Our Personal Trainers</h2>
    <ul>
        {% for trainer in trainers %}
            <li>
                <a href="{% url 'member_trainer_detail' trainer.id %}">
                    {% if trainer.photo %}
                        <img src="{{ trainer.photo.url }}" width="100">
                    {% endif %}
                    {{ trainer.user.username }}
                </a>
            </li>
        {% empty %}
            <li>No trainers available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'member_dashboard' %}">Back to Member Dashboard</a>
{% endblock %}