<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym Member Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.username }} (Gym Member)</h1>
    <p>Contact Email: {{ user.email }}</p>

    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'member_dashboard' %}">Member Dashboard</a></li>
            <li><a href="{% url 'member_class' %}">Available Group Fitness Classes</a></li>
            <li><a href="{% url 'member_booking' %}">My Bookings</a></li>
            <li><a href="{% url 'member_trainer_list' %}">Personal Trainers</a></li>
            <li><a href="{% url 'update_member_profile' %}">Update Profile</a></li>
        </ul>
    </nav>

    <hr>
    {% block content %}
        <h2>Your member Profile</h2>
        {% if profile %}
            <p><strong>Join Date:</strong> {{ profile.join_date }}</p>
            <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
            <p><strong>Gender:</strong> {{ profile.gender }}</p>
            <p><strong>Fitness Goal:</strong> {{ profile.fitness_goal }}</p>
            <p><strong>Current Height:</strong> {{ profile.height }} cm</p>
            <p><strong>Current Weight:</strong> {{ profile.weight }} kg</p>
            <p><strong>Contact Email:</strong> {{ profile.email }}</p>
            <p><strong>Contact Phone number:</strong> {{ profile.phone }}</p>
            <p><strong>Emergency Contact:</strong> {{ profile.emergency_contact_name }}</p>
            <p><strong>Emergency Contact Number:</strong> {{ profile.emergency_contact_phone }}</p>
        {% else %}
            <p>No member profile found.</p>
        {% endif %}
    {% endblock %}



    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>