{% extends 'users/Member/member_dashboard.html' %}
{% block content %}
    <h2>{{ trainer_profile.user.username }}</h2>
    {% if trainer_profile.photo %}
        <img src="{{ trainer_profile.photo.url }}" width="200">
    {% endif %}

    <p><strong>Bio:</strong> {{ trainer_profile.bio }}</p>
    <p><strong>Specialization:</strong> {{ trainer_profile.specialization }}</p>
    <p><strong>Certifications:</strong> {{ trainer_profile.certifications }}</p>
    <p><strong>Experience:</strong> {{ trainer_profile.years_of_experience }} years</p>
    <p><strong>Languages:</strong> {{ trainer_profile.languages }}</p>
    <p><strong>Price per hour:</strong> ${{ trainer_profile.price_per_hour }}/Hour</p>
    <p><strong>Contact Email:</strong> {{ trainer_profile.email }}</p>
    <p><strong>Contact Phone number:</strong> {{ trainer_profile.phone }}</p>

    <h2>Availability</h2>
    {% if availabilities %}
        <ul>
        {% for availability in availabilities %}
            <li>{{ availability.date|date:"Y-m-d" }} {{ availability.start_time }} - {{ availability.end_time }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No availability provided</p>
    {% endif %}

    <a href="{% url 'member_trainer_list' %}">Back to Personal Trainers</a>
{% endblock %}