{% extends 'UniGym/base_pattern.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register as Gym Member</h2>
    <form method="post">
        {% csrf_token  %}

        {#registration form#}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

    {#display message#}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}