<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym Member Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.username }} (Gym Member)</h1>
    <p>Contact Email: {{ user.email }}</p>

    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'member_dashboard' %}">Member Dashboard</a></li>
            <li><a href="{% url 'member_class' %}">Available Group Fitness Classes</a></li>
            <li><a href="{% url 'member_booking' %}">My Bookings</a></li>
            <li><a href="{% url 'member_trainer_list' %}">Personal Trainers</a></li>
        </ul>
    </nav>

    <hr>
    {% block content %}
        <h2>Your member Profile</h2>
        {% if profile %}
            <p>Membership Start: {{ profile.join_date }}</p>
{#            <p>Membership End: {{ profile.membership_end }}</p>#}
{#            <p>Status:#}
{#            {% if profile.is_active %}#}
{#                <span>Active</span>#}
{#            {% else %}#}
{#                <span>Expired</span>#}
{#            {% endif %}#}
{#            </p>#}
        {% else %}
            <p>No member profile to display.</p>
        {% endif %}
    {% endblock %}



    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>