<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>User Login</h2>
    {#login form#}
    <form method="post">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <p>Join your membership today? <a href="{% url 'gm_register' %}">Register here</a></p>
    <br>
    <p>Become a personal trainer with us? <a href="{% url 'pt_register' %}">Register here</a></p>

    {#display login messages #}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>